<p> Here are all the info about the selected restaurant </p>

<h1> <%= @restaurant.name %> </h1>
<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.phone_number %> </p>
<p> <%= @restaurant.category %> </p>
<br>

<h2>List of reviews </h2>
<% @restaurant.reviews.each do |review| %>
 <%= review.content %>
 <br>
 Rating : <strong> <%= review.rating %> </strong>
 <% end %>
